[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "blis"]
	path = blis
	url = https://github.com/flame/blis.git
[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "ragflow"]
	path = ragflow
	url = https://github.com/infiniflow/ragflow.git
[submodule "ik_llama"]
	path = ik_llama
	url = https://github.com/ikawrakow/ik_llama.cpp.git
